<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Glossary</title>
</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/partials :: navbar" />

<main class="flex-grow-1">
  <div class="container px-4" id="mythology-cards">
    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <div class="card h-100">
            <div class="card-header">
              <h2>Zeus</h2>
              <p>God - Greek</p>
            </div>
            <div class="d-flex justify-content-center">
              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">
            </div>
            <div class="card-body d-flex flex-column">
              <h3>Season Stats</h3>
              <ul>
                <li><span>ERA:</span> 2.85</li>
                <li><span>Strikeouts:</span> 150</li>
                <li><span>Wins:</span> 12</li>
                <li><span>Losses:</span> 4</li>
              </ul>
            </div>
            <div class="card-footer">Limited Edition</div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <div class="card h-100">
            <div class="card-header">
              <h2>Odin</h2>
              <p>God - Norse</p>
            </div>
            <div class="d-flex justify-content-center">
              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">
            </div>
            <div class="card-body d-flex flex-column">
              <h3>Season Stats</h3>
              <ul>
                <li><span>ERA:</span> 2.85</li>
                <li><span>Strikeouts:</span> 150</li>
                <li><span>Wins:</span> 12</li>
                <li><span>Losses:</span> 4</li>
              </ul>
            </div>
            <div class="card-footer">Limited Edition</div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <div class="card h-100">
            <div class="card-header">
              <h2>Ra</h2>
              <p>God - Egpytian</p>
            </div>
            <div class="d-flex justify-content-center">
              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">
            </div>
            <div class="card-body d-flex flex-column">
              <h3>Season Stats</h3>
              <ul>
                <li><span>ERA:</span> 2.85</li>
                <li><span>Strikeouts:</span> 150</li>
                <li><span>Wins:</span> 12</li>
                <li><span>Losses:</span> 4</li>
              </ul>
            </div>
            <div class="card-footer">Limited Edition</div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <div class="card h-100">
            <div class="card-header">
              <h2>Jupiter</h2>
              <p>God - Roman</p>
            </div>
            <div class="d-flex justify-content-center">
              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">
            </div>
            <div class="card-body d-flex flex-column">
              <h3>Season Stats</h3>
              <ul>
                <li><span>ERA:</span> 2.85</li>
                <li><span>Strikeouts:</span> 150</li>
                <li><span>Wins:</span> 12</li>
                <li><span>Losses:</span> 4</li>
              </ul>
            </div>
            <div class="card-footer">Limited Edition</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>