<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Glossary</title>
</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/partials :: navbar" />

<main class="flex-grow-1">

  <div th:each="character : ${characters}">
    <h2 th:text="${character.name}"></h2>
    <p th:text="${character.description}"></p>

    <h3>Titles</h3>
    <ul>
      <li th:each="title : ${character.titles}" th:text="${title.name}"></li>
    </ul>

    <h3>Family Relations</h3>
    <ul>
      <li th:each="relation : ${character.familyRelations}" th:text="${relation.relatedCharacter.name} + ': ' + ${relation.familyRelationType.name}"></li>
    </ul>

    <h3>Domains</h3>
    <ul>
      <li th:each="domain : ${character.domains}" th:text="${domain.name.name}"></li>
    </ul>

    <h3>Symbols</h3>
    <ul>
      <li th:each="symbol : ${character.symbols}" th:text="${symbol.name}"></li>
    </ul>

    <h3>Powers</h3>
    <ul>
      <!-- Primary Powers -->
      <li th:if="${#lists.contains(character.powers.![powerType.name], 'Primary')}">
        <span>Primary:
            <span th:text="${#strings.listJoin(character.powers.?[powerType.name == 'Primary'].![powerName.name], ', ')}"></span>
        </span>
      </li>

      <!-- Secondary Powers -->
      <li th:if="${#lists.contains(character.powers.![powerType.name], 'Secondary')}">
        <span>Secondary:
            <span th:text="${#strings.listJoin(character.powers.?[powerType.name == 'Secondary'].![powerName.name], ', ')}"></span>
        </span>
      </li>
    </ul>

    <h3>Key Traits</h3>
    <ul>
      <li th:each="trait : ${character.keyTraits}" th:text="${trait.name}"></li>
    </ul>

    <h3>Myths</h3>
    <ul>
      <li th:each="myth : ${character.myths}" th:text="${myth.name}"></li>
      <li th:each="myth : ${character.myths}" th:text="${myth.description}"></li>
    </ul>

    <h3>Fun Facts</h3>
    <ul>
      <li th:each="fact : ${character.funFacts}" th:text="${fact.name}"></li>
    </ul>
  </div>

  <h3>Antagonists</h3>
  <ul>
    <li th:each="antagonist : ${character.antagonists}">
      <span th:text="${antagonist.name}"></span>
    </li>
  </ul>




<!--  &lt;!&ndash; Greek cards &ndash;&gt;-->
<!--  <div class="container px-4" id="greek-cards">-->
<!--    <h2 class="pb-2 border-bottom text-center">Greek</h2>-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFFFFF;">-->
<!--            <div class="card-header" style="background-color: #0F52BA">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFFFFF">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #0F52BA;">-->
<!--            <div class="card-header" style="background-color: #FFFFFF">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #0F52BA">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #000000">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #000000;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #000000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #CD7F32;">-->
<!--            <div class="card-header" style="background-color: #708238">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #CD7F32">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #708238;">-->
<!--            <div class="card-header" style="background-color: #CD7F32">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #708238">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #C0C0C0;">-->
<!--            <div class="card-header" style="background-color: #DC143C">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #C0C0C0">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #DC143C;">-->
<!--            <div class="card-header" style="background-color: #C0C0C0">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #DC143C">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #708238;">-->
<!--            <div class="card-header" style="background-color: #0F52BA">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #708238">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #0F52BA;">-->
<!--            <div class="card-header" style="background-color: #708238">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #0F52BA">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #6A0DAD;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #6A0DAD">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #6A0DAD">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Norse cards &ndash;&gt;-->
<!--  <div class="container px-4" id="norse-cards">-->
<!--    <h2 class="pb-2 border-bottom text-center">Norse</h2>-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #C0C0C0;">-->
<!--            <div class="card-header" style="background-color: #0F4C81">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #C0C0C0">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #0F4C81;">-->
<!--            <div class="card-header" style="background-color: #C0C0C0">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #0F4C81">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #000000">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #000000;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #000000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #8C7853;">-->
<!--            <div class="card-header" style="background-color: #013220">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #8C7853">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #013220;">-->
<!--            <div class="card-header" style="background-color: #8C7853">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #013220">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #8B0000;">-->
<!--            <div class="card-header" style="background-color: #36454F">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #8B0000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #36454F;">-->
<!--            <div class="card-header" style="background-color: #8B0000">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #36454F">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #00008B;">-->
<!--            <div class="card-header" style="background-color: #FF0000">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #00008B">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FF0000;">-->
<!--            <div class="card-header" style="background-color: #00008B">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FF0000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Egyptian cards&ndash;&gt;-->
<!--  <div class="container px-4" id="egyptian-cards">-->
<!--    <h2 class="pb-2 border-bottom text-center">Egyptian</h2>-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #0A1172;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #0A1172">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #0A1172">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #000000">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #000000;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #000000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #C2B280;">-->
<!--            <div class="card-header" style="background-color: #30D5C8">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #C2B280">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #30D5C8;">-->
<!--            <div class="card-header" style="background-color: #C2B280">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #30D5C8">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #DC143C">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #DC143C;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #DC143C">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #50C878;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #50C878">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #50C878">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Roman cards &ndash;&gt;-->
<!--  <div class="container px-4" id="roman-cards">-->
<!--    <h2 class="pb-2 border-bottom text-center">Roman</h2>-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #8B0000">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #8B0000;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #8B0000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFD700;">-->
<!--            <div class="card-header" style="background-color: #000000">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFD700">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #000000;">-->
<!--            <div class="card-header" style="background-color: #FFD700">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #000000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #C0C0C0;">-->
<!--            <div class="card-header" style="background-color: #DC143C">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #C0C0C0">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #DC143C;">-->
<!--            <div class="card-header" style="background-color: #C0C0C0">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #DC143C">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #CD7F32;">-->
<!--            <div class="card-header" style="background-color: #800000">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #CD7F32">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #800000;">-->
<!--            <div class="card-header" style="background-color: #CD7F32">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #800000">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #8B4513;">-->
<!--            <div class="card-header" style="background-color: #FFFFFF">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #8B4513">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100" style="border: 4px solid #FFFFFF;">-->
<!--            <div class="card-header" style="background-color: #8B4513">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer" style="background-color: #FFFFFF">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->






<!--  &lt;!&ndash; Greek cards &ndash;&gt;-->
<!--  <div class="container px-4" id="greek-cards">-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100">-->
<!--            <div class="card-header">-->
<!--              <h2>Zeus</h2>-->
<!--              <p>God - Greek</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Zeus.png}" alt="Zeus Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Norse cards &ndash;&gt;-->
<!--  <div class="container px-4" id="norse-cards">-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100">-->
<!--            <div class="card-header">-->
<!--              <h2>Odin</h2>-->
<!--              <p>God - Norse</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Odin.png}" alt="Odin Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Egyptian cards&ndash;&gt;-->
<!--  <div class="container px-4" id="egyptian-cards">-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100">-->
<!--            <div class="card-header">-->
<!--              <h2>Ra</h2>-->
<!--              <p>God - Egyptian</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Ra.png}" alt="Ra Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Roman cards &ndash;&gt;-->
<!--  <div class="container px-4" id="roman-cards">-->
<!--    <div class="row g-4 py-4 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">-->

<!--      <div class="col d-flex justify-content-center">-->
<!--        <div class="text-center">-->
<!--          <div class="card h-100">-->
<!--            <div class="card-header">-->
<!--              <h2>Jupiter</h2>-->
<!--              <p>God - Roman</p>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <img class="card-image mt-4" th:src="@{/img/Jupiter.png}" alt="Jupiter Image" style="max-width: 14em; height: auto;">-->
<!--            </div>-->
<!--            <div class="card-body d-flex flex-column">-->
<!--              <h3>Season Stats</h3>-->
<!--              <ul>-->
<!--                <li><span>ERA:</span> 2.85</li>-->
<!--                <li><span>Strikeouts:</span> 150</li>-->
<!--                <li><span>Wins:</span> 12</li>-->
<!--                <li><span>Losses:</span> 4</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="card-footer">Limited Edition</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

</main>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>